footer {
  background-color: #F5F5F5;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.contact-link {
  display: inline-block;
  width: 100%;
  color: white;
}

.footer-icons {
  padding-left: 10px;
  font-size: 15px;
  color: white;
}

.footer-icon-fb {
  font-size: 25px;
}

h6 {
  font-weight: 600;
}

.opening-time {
  padding-left: 15px;
}


